*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
    
}
html{
    font-size: 62.5%;
}
:root{
        --color-background:#59CAFA;
        --color-text:#fff;
        --color-button:#FF748E;
}
body{
    background-color:var(--color-background);
    color: var(--color-text);
    text-align: center;
    font-family: 'Roboto', sans-serif;;
}

nav{
    position: absolute;
    left: 0;
    top: 0;
    margin: 1rem;
    
}
nav a{
    text-decoration: none;
    font: 700 1.8rem 'Roboto', sans-serif;
    color: var(--color-text);
}
.recover-Password{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem;
}
.recover-Password button{
    margin-top: 1rem;
    border: none;
    border-radius: 0.8rem;
    outline: none;
    height: 5rem;
    width: 10rem;
    background-color: var(--color-button);
    color: var(--color-text);
    font: 400 1.8rem 'Roboto', sans-serif;
}
.recover-Password button:hover{
    font-weight: 700;
    cursor: pointer;
}
.user-Text{
    margin-top: 5rem;
    text-align: center;
}
.user-Text h3{
    margin: 1rem;
    font-size: 2rem;
    font-weight: 700;  
}
.user-Text h4{
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}


#user-email{
    border: 0; 
    outline: 0;
    border-bottom: 0.3rem solid var(--color-text);
    background-color: var(--color-background);
    padding:0.3rem;
    text-align: center;
    font: 400 1.8rem 'Roboto', sans-serif;
    color: var(--color-text);
    width:90vw;
}
#user-email::placeholder{
    color: var(--color-text);
}

#title-Logo{
    margin: 8rem;
    font-size: 5rem;

}



/* Responsividade */

@media (min-width:1024px){
.recover-Password{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.recover-Password button{
    height: 7rem;
    width: 24rem;
    margin-top: 0.3rem;
    border: none;
    border-radius: 0.8rem;
    outline: 0;
    font: 400 2.5rem 'Roboto', sans-serif;
    background-color: var(--color-button);
    color: #fff;
}
.recover-Password button:hover{
    font-weight: 700;
    cursor: pointer;
}

.user-Text{
    margin-top: 0.8rem;
}
.user-Text h3{
    margin: 1rem;
    font-size: 3rem;
    font-weight: 700;  
}
.user-Text h4{
    margin: 2rem;
    font-size: 2.5rem;
    font-weight: 400;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
#title-Logo{
    margin: 6rem;
    font-size: 8.2rem;

}
 #user-email{
    border: none;
    border-bottom: 0.3rem solid;
    background: var(--color-background);
    outline: 0;
    width: 50rem;
    margin: 2rem;
    text-align: center;
    font: 400 3rem 'Roboto', sans-serif;
    color: var(--color-text);
    padding: 0.5rem;
 }
 #user-email::placeholder{
     color: var(--color-text);
     font: 400 3rem 'Roboto', sans-serif;
 }

}